####     REDCap API parameters     ####
api_url <-  ''

## REVS-Chagas - Placa ELISA (ELISA plate)
REDCap_token_lab <- ''
## REVS-Chagas - Sujeto (Subject)
REDCap_token_subj <- ''

####     REVS-Chagas parameters     ####
language <- 'spanish'
lock_forms <- TRUE